body{
	
	font-family: 'Raleway', sans-serif;
	margin: 0px;
	padding: 0px;
	
}

.loop{

	display: none !important;


}

#speculos{
	display: none;
}

#mario{


	display: none !important;
}

.ecriture{


	margin-left: 10px;
	font-size: 15px;
}

p{

	font-size: 15px;
	margin-left: 10px;
	
}

h1, h2{

	
	font-size: 20px;
	

}

#titi{
	font-size: 20px;

}

#titi2{
	font-size: 20px;
}





/* on dispose les elements du nav et on les espace entre eux*/


nav{

	display: flex;
	justify-content: space-between;
	align-items: center;

}

/* on met les elements de la liste en flex et on enleve les points*/

nav ul{


	display: flex;
	list-style: none;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;



}

/*ici on donne la taille du logo*/


nav img{


	height: 40px;
	width: 95px;
	margin: 0 0 0 10px;
}


/*ici on evite que les li soit coller entre eux et aussi a la fin de la page*/

nav li{


	margin : 0 10px 0 20px;

}

nav a{

	font-size: 15px;
}


#bandeau{

	display: flex;
	align-items: baseline;
}

.soprano{

	font-size: 18px;
	
	
}

#can{

	width: 40px;
	height: 44px;
	border-radius: 10px 0 0 10px;
	background-color:#F2F2F2 ;
	display: flex;
	justify-content: center;
	align-items: center;

}

#nautilus{

	border: 2px solid #F2F2F2;
	height: 38px;
	font-size: 15px;

}


#bloc_principal{
	width: 95%;
	height: auto;
	margin: auto;

	
}

#recherche{
	display: flex;
	align-items: center;
	


}

#bouton{
	background-color: #0065FC ;
	color: white;
	height: 44px;
	border: none;
	border-radius: 0 10px 10px 0;
	font-size: 15px;

}


#filters{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 50px;
	margin-top: 30px;
	
}

.filtre{

	border: 2px solid #F2F2F2;
	border-radius: 25px;
	width:300px ;
	display: flex;
	align-items: baseline;


}



.filtrespeciale1{

	border: 2px solid #F2F2F2;
	border-radius: 25px;
	width:300px ;
	display: flex;
	align-items: baseline;



}


.filtrespeciale2{


	border: 2px solid #F2F2F2;
	border-radius: 25px;
	width:300px ;
	display: flex;
	align-items: baseline;



}
#bandeau{
	margin-top: 20px;
	height: 100px;
}


#round{
	width: 30px;
	height: 25%;
	border: 2px solid #F2F2F2;
	border-radius: 50%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;

}

.coco{
	color: blue;
	font-size: 15px;
}


#hebergements{

	display: flex;
	width: 65%;
	height: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #F2F2F2;
	border-radius: 20px;


}

.title{

	width: 100%;
	height: 50px;
	margin-top: 10px;
	margin-left: 10px;
	

}

#hebergements img{

	width: 290px;
	height: 150px;
	border-radius: 20px 20px 0px 0px ;
	margin-left: 5px;
	margin-top: 3px;
	background-color:  #F2F2F2;



}

.item{

	width: 300px;
	height: 250px;
	border-radius: 20px;
	
	background-color: white;
	box-shadow: 4px 4px 10px grey;



}

#affichage{
	width: 100%;
	display: flex;
	align-items: center;
	margin-left: 20px;

	

}




aside{
	display: flex;
	height: 100%;
	width: 30%;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
	background-color: #F2F2F2;
	


}


aside img{

	height: 160px;
	width: 160px;
	border-radius: 20px 0 0 20px;
	margin-top: 5px;
	margin-left: 5px;
	

	
}

.stars_aside{

	margin-top: 50px;
}

#star{

	display: flex;
	justify-content: space-between;
	align-items: baseline;
	border-radius: 20px;
	width: 450px;
	height: 50px;
}


.item_aside{

	border-radius: 20px;
	
	width: 400px;
	height: 170px;
	background-color: white;
	display: flex;
	box-shadow: 4px 4px 10px grey;
	margin-top: 35px;
	
	
}



#haut{

	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 700px;
	margin-top: 5px;
	width: 100%;
}

#bas{
	

	width: 100%;
	margin-top: 50px;

	
}



#general{

	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 450px;
}


#one{

	box-shadow: 4px 4px 10px grey;
	width: 23%;
	height: 95%;
	border-radius: 20px 20px 20px 20px;

}

#two{

	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 23%;
	height: 95%;
	border-radius: 20px 20px 20px 20px;
	


}

#three{

	box-shadow: 4px 4px 10px grey;
	width: 23%;
	height: 95%;
	border-radius: 20px 20px 20px 20px;

}

#four{

	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 23%;
	height: 95%;
	border-radius: 20px 20px 20px 20px;


}


#micro{

	
	border-radius: 20px 20px 20px 20px;
	
	height: 250px;
	box-shadow:4px 4px 10px grey ;
	
}


#micro2{

	
	border-radius: 20px 20px 20px 20px;
	box-shadow:4px 4px 10px grey ;
	
}




#mini {


	border-radius: 20px 20px 20px 20px;
	box-shadow:4px 4px 10px grey ;
	
}


#mini2 {


	border-radius: 20px 20px 20px 20px;
	box-shadow:4px 4px 10px grey ;
	
}


.images_grandes{


	height: 380px;
	width: 100%;
	border-radius: 20px 20px 20px 20px;


}

#images_one{

	height: 180px;
	width: 100%;
	border-radius: 20px 20px 0 0;
	object-fit: cover;


}



#images_two{

	height: 90px;
	width: 100%;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
	object-fit: cover;



}


#images_three{

	height: 160px;
	width: 100%;
	border-radius: 20px 20px 0 0;
	object-fit: cover;


}


#images_four{

	height: 120px;
	width: 100%;
	border-radius: 20px 20px 0 0;
	object-fit: cover;


}


footer{
	width: 100%;

	background-color: #F2F2F2;
	
}

#foot{
	display: flex;
	justify-content: flex-start;
	justify-content: space-between;
	margin-left: 40px;
	width: 70%;
	
}




a{

	text-decoration: none;
	color: black;
	font-size: 15px;
	
}




.circle-icon{

	
	font-size: 20px;
	color: #0065FC ;
	
}




.te{

	width: 45px;
	height: 100%;
	border-radius: 50%;
	background-color: #DEEBFF;
	display: flex;
	justify-content: center;
	align-items: center;

}



#ola{

	font-size: 16px;


}



.checked{

	color:#0065FC ;
}

.clear{

	color: #F2F2F2;
}

.etoile{

	color: black;
}

h3{
	font-size: 10px;
}











/* ici commence le media querie */


@media screen and (max-width: 768px)
{


	#bloc_principal{
		width: 100%;
	}



	nav{

		width: 100%;
		flex-direction: column;
		

	}

	nav ul{

		display: flex;
		height: 30px;
		width: 100%;
		padding-left: 0px;
		justify-content: center;
		

		
		
		
	}

	nav li:hover{
		
		
		border-bottom: 2px solid #0065FC;
		
	}

nav li{
	
	margin: 0px;
	width: 50%;
	text-align: center;
}








	#recherche{
		width: 100%;
		border: 2px solid red;
	}
	#filters{
		width:100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;


	}
	#haut{
		width: 100%;
		height: auto;
		flex-direction: column-reverse;
	}
	#hebergements{
		width: 100%;
		background-color: white;
		height: auto;
		flex-direction: column;
		justify-content: space-between;



	}

	aside{
		width: 100%;
		height: 600px;
		
		border-radius: 0px;
		margin-bottom: 40px;
		



	}
	.item_aside{

		height: 150px;
		width: 90%;
		margin-top: 20px;
	}

	.item_aside img{
		width: 30%;
		height: 140px;
		margin-left: 5px;
	}

	#foot{
		flex-direction: column;
	}

	#activites{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: auto;
	}



	#affichage{
		margin-top: 20px;
		width: 100%;
	}



	#general{

		height: 100%;
		flex-direction: column;
		width: 100%;

	}



	.item{
		width: 88%;
		height: auto;
		margin-top: 20px;
		margin-left: 20px;

	}

	#one{
		width: 88%;
		margin-top: 20px;
		margin-left: 20px;

	}


	#two{
		width: 88%;
		margin-top: 20px;
		margin-left: 20px;


	}

	#three{
		width: 88%;
		margin-top: 20px;
		margin-left: 20px;

	}

	#four{
		width: 88%;
		margin-top: 20px;
		margin-left: 20px;

	}

	#hebergements img{
		width: 98%
	}

	#activites img{

		width: 100%;
	}
	#mini2{
		margin-top: 20px;
	}

	#micro2{
		margin-top: 20px;
	}

	.images_grandes{
		height: 200px;
	}

	#images_one{
		height: 200px;
	}


	#images_two{
		height: 200px;
	}


	#images_three{
		height: 200px;
	}


	#images_four{
		height: 200px;
	}


	#speciale{
		
		width: 100%;

	}
	.filters{
		width: 100%;
		height: 150px;
		margin-bottom: 20px;

	}


	.filtre{
		width: 40%;
		margin-left: 10px;
		margin-right: 10px;
	}

	.filtrespeciale1{
		width: 40%;
		margin-top: 10px;
		margin-left: 10px;
	}

	.filtrespeciale2{

		margin-top: 10px;
		width: 60%;
		margin-left: 10px;
	}


	#bouton{
		display: none;
	}


	.loop{
		display: inline-block !important;
	}


	.stars_aside{

		margin-top: 50px;
	}


	h2{

		margin-left: 10px;
	}

	#bas{

		margin-top: 0px;
		width: 100%;
	}
	h1{

		
		text-align: center;
		margin-left: 5%;
		width: 80%;

	}

	#megaman{
		width: 80%;
		margin-left: 5%;
	}



	#recherche{
		display: flex;
		justify-content: center;
		width: 100%;
		
	}


	#nautilus{

		width: 250px;
		font-size: 20px;
		border-right: none;
		
	}

	.loop{
		color: white;
		font-size: 16px;



	}

	#bootle{
		width: 40px;
		height: 40px;
		background-color:#0065FC ;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		margin-left: -10px;
	}



	#speculos{
		display: inline-block;
		font-size: 30px;
		margin-left: 50px;
	}



	#kyosho{
		display: none;
	}

	#bandeau{

		margin-left: 10px;
	}

	#recherche{
		

	}
	#haut{
		margin-top: 50px;
	}

	ul{
		width: 100%;
		border-bottom: 2px  solid #F2F2F2;


	}

	

	#star{
		justify-content: space-around;
		width: 100%;

	}
	footer{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 50px;
		width: 100%;
	}

	#populaire{
		width: 100%;
	}

	.pied_de_page h2{

		margin: 0px;
	}
	.pied_de_page{
		margin-bottom: 20px;
		margin-top: 20px;

	}


}










